<div class="d-flex justify-content-center align-items-center flex-column">
	<section class="row justify-content-center text-center">
		<h3 class="col">Projetos</h3>
	</section>

	<section class="row d-flex flex-column justify-content-center align-items-center gap-3 text-center mt-2">
		@for (projeto of projects$ | async; track $index) {
			<a class="col-11" [href]="projeto.url" target="_blank">
				<div class="card w-100">
					<img [src]="projeto.imagem" class="card-img-top" [alt]="projeto.alt" />
					<div class="card-body">
						<h5 class="card-title">{{projeto.nome}}</h5>
						<p class="card-text">{{projeto.descricao}}</p>
					</div>
				</div>
			</a>
		}
		<a class="button" routerLink="/">
			<img class="icon-back" src="assets/icons/icons/back.png" loading="eager" alt="Ícone de links sociais">
			<span class="">Voltar</span>
		</a>
	</section>
</div>