.button {
	height: 10rem;
	width: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #2e34403d;
	border-radius: 25px;
	cursor: pointer;
	font-size: small;
	font-weight: lighter;
}

.card{
	background-color: transparent;
	max-width: 50rem;
}

.card-title{
	font-weight: 400;
}

.card-text{
	font-weight: lighter;
}

h3{
	font-weight: 300;
}

.row {
	margin: 0 !important;
	padding: 0 !important;
}

.icon-back{
	width: 3rem;
}

@media (min-width: 700px) {
	.button {
		height: 11rem;
		width: 11rem;
	}
	.row{
		min-width: 700px;
		max-width: 50%;
	}
}