<div class="d-flex justify-content-center align-items-center flex-column">
	<section class="row justify-content-center text-center">
		<h3 class="col">Projetos</h3>
	</section>

	<section class="row d-flex flex-column justify-content-center align-items-center gap-3 text-center mt-2">
		<a class="col-11" href="https://dbc-wiriswernek.vercel.app" target="_blank">
			<div class="card w-100" href="https://dbc-wiriswernek.vercel.app" target="_blank">
				<img src="https://i.ibb.co/hy7bchd/Cart-o-Digital.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Cartão de Visitas</h5>
					<p class="card-text">
					Um cartão de visitas digital simplificado e prático, para apresentar você aos seus
					clientes, parceiros ou qualquer um que precise conhecer você.
					</p>
				</div>
			</div>
		</a>

		<a class="col-11" href="https://previsao-tempo-wiriswernek.vercel.app" target="_blank">
			<div class="card w-100">
				<img src="https://i.ibb.co/7gghFMf/App-Clima.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Previsão do Tempo</h5>
					<p class="card-text">
					Uma aplicação simples para verificar informações climáticas simples de qualquer
					cidade do mundo.
					</p>
				</div>
			</div>
		</a>

		<a class="col-11" href="https://github-repos-wiriswernek.vercel.app" target="_blank">
			<div class="card w-100">
				<img src="https://i.ibb.co/XsgMhFm/Github-Repos.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Github Repos</h5>
					<p class="card-text">
						Uma aplicação para consulta rápida de usuários no Github e listagem de repositórios.
					</p>
				</div>
			</div>
		</a>

		<a class="col-11" href="https://finance-wiriswernek.vercel.app" target="_blank">
			<div class="card w-100">
				<img src="https://i.ibb.co/Pcs9cqp/Finance.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Finanças</h5>
					<p class="card-text">
					This is a longer card with supporting text below as a natural lead-in to additional
					content. This content is a little bit longer.
					</p>
				</div>
			</div>
		</a>

		<a class="col-11" href="https://gerador-de-senhas-wiriswernek.vercel.app" target="_blank">
			<div class="card w-100">
				<img src="https://i.ibb.co/nRC0mMR/Gerador-de-Senhas.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Gerador de Senhas</h5>
					<p class="card-text">Uma aplicação para geração de senhas.</p>
				</div>
			</div>
		</a>

		<a class="col-11" href="https://gerador-qrcode-wiriswernek.vercel.app/" target="_blank">
			<div class="card w-100">
				<img src="https://i.ibb.co/jhcHF6m/QR-Code-App.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Gerador de QR Code</h5>
					<p class="card-text">Um gerador de QR Codes online, instalável e gratuito.</p>
				</div>
			</div>
		</a>

		<a class="col-11" href="https://avaliacoes-wiriswernek.vercel.app/" target="_blank">
			<div class="card w-100">
				<img src="https://i.ibb.co/LgcvGWR/Avalia-es.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Minhas Avaliações</h5>
					<p class="card-text">
					Aplicativo para visualização das avaliações geradas no Cartão de Visitas Digital.
					</p>
				</div>
			</div>
		</a>

		<a class="col-11" href="https://wiriswernek.github.io/Projeto-Anna-Bella/" target="_blank">
			<div class="card w-100">
				<img src="https://i.ibb.co/tPRQ3qf/Ana-Bella.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Projeto Anna Bella</h5>
					<p class="card-text">Uma página de apresentação simples.</p>
				</div>
			</div>
		</a>

		<a class="col-11" href="https://wiriswernek.github.io/ProjetoHotelParaiso/" target="_blank">
			<div class="card w-100">
				<img src="https://i.ibb.co/cw2Jhh0/Hotel-Para-so.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Projeto Hotel Paraíso</h5>
					<p class="card-text">Projeto de uma landing page para um hotel responsiva.</p>
				</div>
			</div>
		</a>

		<a class="col-11" href="https://wiriswernek.github.io/UNES/" target="_blank">
			<div class="card w-100">
				<img src="https://i.ibb.co/2KV4yHh/Unes.png" class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Projeto Unes</h5>
					<p class="card-text">Projeto de um site institucional.</p>
				</div>
			</div>
		</a>

		<!-- <a class="col-11 button" href="https://home-wiriswernek.vercel.app" target="_blank">
			<span class="">Portfólio - Em construção</span>
		</a> -->

		<a class="button" routerLink="/">
			<img class="icon-back" src="/assets/icons/icons/back.png" loading="eager" alt="Ícone de links sociais">
			<span class="">Voltar</span>
		</a>
	</section>
</div>