<section class="row justify-content-center text-center ">
	<h3 class="col">Projetos</h3>
</section>

<section class="row justify-content-center align-items-center g-2 text-center mt-2">
	<a class="col-11 button" href="https://dbc-wiriswernek.vercel.app" target="_blank">
		<span class="">Cartão de Visitas</span>
	</a>

	<a class="col-11 button" href="https://previsao-tempo-wiriswernek.vercel.app" target="_blank">
		<span class="">Previsão do Tempo</span>
	</a>

	<a class="col-11 button" href="https://github-consumer-wiriswernek.vercel.app" target="_blank">
		<span class="">Github Repos</span>
	</a>

	<a class="col-11 button" href="https://finance-wiriswernek.vercel.app" target="_blank">
		<span class="">Finanças</span>
	</a>

	<a class="col-11 button" href="https://gerador-de-senhas-wiriswernek.vercel.app" target="_blank">
		<span class="">Gerador de Senhas</span>
	</a>

	<a class="col-11 button" href="https://home-wiriswernek.vercel.app" target="_blank">
		<span class="">Portfólio - Em construção</span>
	</a>

	<a class="col-11 button" href="https://gerador-qrcode-wiriswernek.vercel.app/" target="_blank">
		<span class="">Gerador de QRCode</span>
	</a>

	<a class="col-11 button" href="https://avaliacoes-wiriswernek.vercel.app/" target="_blank">
		<span class="">Minhas Avaliações</span>
	</a>

	<a class="col-11 button" routerLink="/">
		<span class="">Voltar</span>
	</a>
</section>