<div class="d-flex flex-column justify-content-center align-items-center mt-4">
	<section class="row justify-content-center align-items-center">
		<h3 class="mb-4 text-center">Quem sou eu?</h3>
		
		<p class="mb-4">
			Muito prazer em conhecê-lo. Me chamo Wiris Wernek e sou um Desenvolvedor Full Stack,
			atualmente trabalhando com as linguagens Java e Typescript, utilizando os frameworks Spring
			Boot e Angular, além da API EJB do Java EE.
		</p>

		<p class="mb-4">
			Estou no último período do Tecnólogo em Análise e Desenvolvimento de Sistemas pelo
			Instituto Federal de Educação, Ciência e Tecnologia do Espírito Santo.
		</p>

		<p class="mb-4">
			Além de ser apaixonado por tecnologia, sou um amante de gatos. Embora ache cachorros fofos,
			os gatos têm realmente um lugar especial no meu coração.
		</p>

		<p class="mb-4">
			Tenho grande interesse em séries e filmes, sendo minhas preferidas Grey's Anatomy e
			Supernatural. Recentemente, comecei a explorar o mundo dos animes e estou gostando bastante
			de Naruto, Demon Slayer e Jujutsu Kaisen.
		</p>

		<p class="mb-4">
			Atualmente, estou buscando aprofundar ainda mais meus conhecimentos em backend, focando
			principalmente no ecossistema Spring e Java. No entanto, um dos meus principais hobbies é
			desenvolver aplicações front end. A ideia de começar com uma tela totalmente vazia e
			transformá-la em algo incrível e funcional realmente me traz grande satisfação.
		</p>
	</section>
	<a class="button" routerLink="/">
		<img class="icon-back" src="assets/icons/icons/back.png" loading="eager" alt="Ícone de links sociais">
		<span class="">Voltar</span>
	</a>
</div>
