.profile-image {
	border-radius: 100% !important ;
	height: 10rem;
	margin-top: -5rem;
}

h1 {
	font-size: x-large;
	font-weight: 400;
}

span {
	font-size: medium;
	font-weight: 200;
}

@media (min-width: 700px) {
	.profile-image {
		height: 18rem;
		margin-top: -9rem;
	}
}
