<section class="row justify-content-center text-center ">
	<h4 class="col">Me Siga em Outras Redes</h4>
</section>

<section class="row justify-content-center align-items-center g-2 text-center mt-2">
	<a class="col-11 button" href="https://www.youtube.com/@wiriswernek " target="_blank">
		<span class="">Meu Canal No YouTube</span>
	</a>

	<a class="col-11 button" href="https://github.com/WirisWernek" target="_blank">
		<span class="">Veja meu trabalho no GitHub</span>
	</a>

	<a class="col-11 button" href="https://www.instagram.com/wiriswernek/" target="_blank">
		<span class="">Me acompanhe no Instagram</span>
	</a>

	<a class="col-11 button" href="https://twitter.com/wiriswernek" target="_blank">
		<span class="">Me siga no Twitter</span>
	</a>

	<a class="col-11 button" href="https://www.twitch.tv/lost905" target="_blank">
		<span class="">Me siga na Twitch</span>
	</a>

	<a class="col-11 button" href="https://www.linkedin.com/in/wiris-wernek/" target="_blank">
		<span class="">Me encontre no Linkedin</span>
	</a>

	<a class="col-11 button" href="../../../../assets/files/Wiris_Rafael_Januario_Wernek.vcf" target="_blank">
		<span class="">Salve meu Contato</span>
	</a>
</section>