<div class="modal-header d-flex justify-content-center">
	<h4 class="modal-title align-self-center">Enviar Anotação</h4>
</div>
<form [formGroup]="anotacaoForm" class="modal-body">
	<div class="mb-3">
		<label for="emailFormInput" class="form-label">Email Destino</label>
		<input formControlName="emailDestino" type="email" class="form-control" id="emailFormInput" placeholder="name@example.com">
	</div>
	<div class="mb-3">
		<label for="assuntoFormInput" class="form-label">Assunto</label>
		<input formControlName="assunto" type="text" class="form-control" id="assuntoFormInput" placeholder="Gostaria de um orçamento">
	</div>
	<div class="mb-3">
		<label for="conteudoFormInput" class="form-label">Conteúdo do Email</label>
		<textarea formControlName="conteudo" class="form-control" id="conteudoFormInput" rows="3"></textarea>
	</div>
</form>
<div class="modal-footer d-flex justify-content-center">
	<button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
	<button type="button" class="btn btn-primary" (click)="enviar()">Enviar</button>
</div>