<div class="modal-header d-flex justify-content-center">
	<h4 class="modal-title align-self-center">Newsletter</h4>
</div>
<form [formGroup]="newsletterForm" class="modal-body">
	<div class="mb-3">
		<label for="nomeFormInput" class="form-label">Nome</label>
		<input [ngClass]=" nomeValido ? 'form-control' : 'form-control is-invalid'" formControlName="nome"
			type="email" id="nomeFormInput" placeholder="name@example.com" (blur)="validateNome()">
		<ng-container *ngIf="!nomeValido">
			<label for="nomeFormInput" class="form-label text-danger">O nome é obrigatório!</label>
		</ng-container>
	</div>
	<div class="mb-3">
		<label for="emailFormInput" class="form-label">Seu Email</label>
		<input type="email" [ngClass]=" emailValido ? 'form-control' : 'form-control is-invalid'" id="emailFormInput" placeholder="name@example.com" formControlName="email" (blur)="validate()">
		<ng-container *ngIf="!emailValido">
			<label for="reviewFormRating" class="form-label text-danger">O email é obrigatório!</label>
		</ng-container>
	</div>
</form>
<div class="modal-footer d-flex justify-content-center">
	<button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
	<button type="button" class="btn btn-primary" (click)="enviar()">Inscrever-me</button>
</div>