#reviewFormRating{
	font-size: 4rem;
	line-height: 1rem;
	color: #ffbf00;
}

input, textarea, .form-label{
	margin-bottom: 0.1rem;
}

.text-danger{
	font-size: small;
	font-weight: 400;
}

.btn{
	height: 2.6rem;
}

input, textarea, label, .btn, .modal-title{
	font-weight: 300;
}