.button {
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e34403d;
  border-radius: 50px;
  cursor: pointer;
}

@media (min-width: 700px) {
  .button {
    height: 4vw;
    width: 55%;
  }
}

input, textarea{
	margin-bottom: 0.5rem;
}