ul {
  list-style-type: none;
  padding: 0;
}

.telefone,
.email {
  height: 5rem;
}

.whatsapp,
.download {
  height: 4.5rem;
}

.actionButtons {
  align-items: center !important;
  gap: 1rem;
}

@media (min-width: 700px) {
  ul {
    padding: 0;
  }
  .telefone,
  .email {
    height: 8rem;
  }

  .whatsapp,
  .download {
    height: 7.5rem;
  }

  .actionButtons {
    margin: 0 auto 0 auto;
    width: 50%;
  }

  hr{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }

 
}
