<hr>
<nav class="my-2">
	<ul class="row justify-content-center actionButtons">
		<li class="col-3">
			<a [href]="changeContactLink('whatsapp')" target="_blank" tabindex="">
				<img class="whatsapp" src="../../../assets/icons/whatsapp.png" loading="eager" alt="">
			</a>
		</li>
		<li class="col-3">
			<a [href]="changeContactLink('email')" target="_blank" tabindex="">
				<img class="email" src="../../../assets/icons/email.png" loading="eager" alt="">
			</a>
		</li>
		<li class="col-3">
			<a [href]="changeContactLink('telefone')" target="_blank" tabindex="">
				<img class="telefone" src="../../../assets/icons/telefone.png" loading="eager" alt="">
			</a>
		</li>
		<li class="col-3">
			<a [href]="changeContactLink('download')" target="_blank" tabindex="">
				<img class="download" src="../../../assets/icons/download.png" loading="eager" alt="">
			</a>
		</li>
	</ul>
</nav>
<hr>