<hr>
<nav class="my-2">
	<ul class="d-flex justify-content-center align-items-center actionButtons">
		<li>
			<a [href]="changeContactLink('whatsapp')" target="_blank" tabindex="">
				<img class="whatsapp" src="/assets/icons/icons/whatsapp.png" loading="eager" alt="">
			</a>
		</li>
		<li>
			<a [href]="changeContactLink('email')" target="_blank" tabindex="">
				<img class="email" src="/assets/icons/icons/email.png" loading="eager" alt="">
			</a>
		</li>
		<li>
			<a [href]="changeContactLink('telefone')" target="_blank" tabindex="">
				<img class="telefone" src="/assets/icons/icons/telefone.png" loading="eager" alt="">
			</a>
		</li>
		<li>
			<a [href]="changeContactLink('download')" target="_blank" tabindex="">
				<img class="download" src="/assets/icons/icons/download.png" loading="eager" alt="">
			</a>
		</li>
	</ul>
</nav>
<hr>
<router-outlet></router-outlet>