.telefone {
  height: 16vw;
}

.whatsapp {
  height: 15vw;
}

.email {
  height: 16vw;
}

.download {
  height: 15vw;
}

ul {
  list-style-type: none;
}

.actionButtons {
  margin-right: 2vh;
  align-items: center !important;
}

@media (min-width: 700px) {
  ul {
    padding: 0;
  }
  .telefone,
  .email {
    height: 9vw;
  }

  .whatsapp {
    height: 8vw;
  }

  .download {
    height: 7.4vw;
    margin-top: 0;
  }
  .actionButtons {
    margin: 0 auto 0 auto;
    width: 50%;
    align-items: center !important;
  }
}
