header{
	padding-top: 12%;
}
.profile-image{
	border-radius: 100% !important ;
	height: 40vw;
}

.subtitle{
	font-size: 130%;
	margin: auto;
	border-right: 5px solid ;
	width: 22ch;
	white-space: nowrap;
	overflow: hidden;
	animation:  blinking 0.6s infinite, typing 2s steps(22);
}

@keyframes typing{
	from{
		width: 0;
	}
}

@keyframes blinking{
	50%{
		border-color: transparent;
	}
}