.profile-image {
  border-radius: 100% !important ;
  height: 10rem;
  margin-top: -5rem;
}

.subtitle {
  font-size: 130%;
  margin: auto;
  width: 22ch;
  white-space: nowrap;
  overflow: hidden;
}

.subtitle:after {
  content: "|";
  opacity: 1;
  animation: pisca 0.7s infinite;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (min-width: 700px) {
  .profile-image {
    height: 18rem;
    margin-top: -9rem;
  }
}
