.profile-image {
  border-radius: 100% !important ;
  height: 10rem;
  margin-top: -5rem;
}

.subtitle {
  font-size: 130%;
  margin: auto;
  width: 22ch;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 700px) {
  .profile-image {
    height: 18rem;
    margin-top: -9rem;
  }
}
