<section class="row justify-content-center text-center ">
	<h3 class="col">Opções</h3>
</section>

<section class="row justify-content-center align-items-center g-2 text-center mt-2">
	<a class="col-11 button" routerLink="/social">
		<span class="">Links</span>
	</a>
	<a class="col-11 button" routerLink="/project">
		<span class="">Projetos</span>
	</a>
	<a class="col-11 button" routerLink="/utility">
		<span class="">Utilidades</span>
	</a>
	<a class="col-11 button" routerLink="/about">
		<span class="">Sobre</span>
	</a>
	<!-- <a class="col-11 button" routerLink="/">
		<span class="">Atualizações</span>
	</a> -->
</section>