<div class="d-flex justify-content-center align-items-center flex-column">
	<section class="row justify-content-center text-center ">
		<h3 class="col">Opções</h3>
	</section>

	<section class="row justify-content-center align-items-center gap-3 text-center mt-2">
		<a class="button" routerLink="/social">
			<img src="/assets/icons/icons/social.png" loading="eager" alt="Ícone de links sociais">
			<span class="">Links</span>
		</a>
		<a class="button" routerLink="/project">
			<img src="/assets/icons/icons/project.png" loading="eager" alt="Ícone de projetos">
			<span class="">Projetos</span>
		</a>
		<a class="button" routerLink="/utility">
			<img src="/assets/icons/icons/tools.png" loading="eager" alt="Ícone de utilidades">
			<span class="">Utilidades</span>
		</a>
		<a class="button" routerLink="/about">
			<img src="/assets/icons/icons/person.png" loading="eager" alt="Ícone de sobre">
			<span class="">Sobre</span>
		</a>
		<a class="button" *ngIf="true" routerLink="/updates">
			<img src="/assets/icons/icons/news.png" loading="eager" alt="Ícone de atualizações">
			<span class="">Atualizações</span>
		</a>
	</section>
</div>