/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: linear-gradient(
    to bottom,
    #2e3440 0%,
    #2e3440 12%,
    #00d87e 12%,
    #00d8d8 100%
  );

  font-family: "Fira Code", monospace;
}

a {
  text-decoration: none;
  color: #2f3435;
}

@media (min-width: 700px) and (max-width: 999px){
  body {
    background-image: linear-gradient(
      to bottom,
      #2e3440 0%,
      #2e3440 15%,
      #00d87e 15%,
      #00d8d8 100%
    );
	height: 100%;
  }

  html{
	background-image: linear-gradient(
      to bottom,
      #2e3440 0%,
      #2e3440 15%,
      #00d87e 15%,
      #00d8d8 100%
    );
	height: 100%;
  }
}

@media (min-width: 1100px) {
	body {
	  background-image: linear-gradient(
		to bottom,
		#2e3440 0%,
		#2e3440 15%,
		#00d87e 15%,
		#00d8d8 100%
	  );
	}
  
	html{
	  background-image: linear-gradient(
		to bottom,
		#2e3440 0%,
		#2e3440 15%,
		#00d87e 15%,
		#00d8d8 100%
	  );
	}
  }
  
